*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #212529;
}

h3 {
	font-size: 1.75rem;
}

@import "./table.less";

img {
	border-style: none;
}

input[type=number] {
	height: 34px;
	border: 1px solid rgba(60, 60, 60, 0.26);
	border-radius: 4px;
	padding: 4px 8px;
}

button {
	display: inline-block;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;

	background-color: lighten(#4f4f4a, 40%);
	min-height: 34px;

	&.btn-add, &.btn-remove {
		width: 34px;
		height: 34px;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.btn-add {
		background-image: url(../images/icons/add.png);
		background-color: #e59344;

		&:hover {
			background-color: lighten(#e59344, 10%);
		}
	}

	&.btn-remove {
		background-image: url(../images/icons/remove.png);
		background-color: #d9534f;

		&:hover {
			background-color: lighten(#d9534f, 10%);
		}
	}

	&:not(:disabled) {
		cursor: pointer;
	}
}

.alert-error {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;

	max-width: 40em;

	color: #fff;
	background-color: #e59344;
	border-color: darken(#e59344, 10%);
}
