.graph-machine {
	//width: 200px;
	//display: inline-block;

	.machine-icon {
		float: left;
		margin: 2px 8px 2px 0;

		span, img {
			font-size: 24px;
			vertical-align: middle;
		}
	}

	.machine-name {
		font-weight: bold;
	}

	.recipe-name {

	}
}
