table {
	border-collapse: collapse;
	width: 100%;

	th, td {
		padding: 0.25em;
		vertical-align: top;
		border-bottom: 1px solid #dee2e6;
	}

	th {
		vertical-align: bottom;
		border-bottom: 2px solid #dee2e6;
		padding: 0.5em 0.25em;
	}

	tfoot td {
		border-bottom: none;
	}
}

th {
	text-align: inherit;
}
