<template>
	<div class="output-selector">
		<!-- Item Selector -->
		<div>
			<button class="btn-add" @click="addItem">&nbsp;</button>
			<v-select class="itemSelector" v-model="selectedItem" :options="itemOptions" label="name" placeholder="Select an item">
				<template slot="option" slot-scope="option">
					<game-icon type="item" :entity="option" :hover="false" />
					{{ option.name }}
				</template>
			</v-select>
		</div>
		<!-- Required Outputs -->
		<ul>
			<li v-for="(output, index) in requiredOutputs" :key="index">
				<game-icon type="item" :id="output.itemId" />
				Items/min: <input class="form-control" type="number" :value="getOutputRate(index)" @input="updateRate(index, $event)" />
				<button class="btn-remove" v-on:click="removeItem(index)">&nbsp;</button>
			</li>
		</ul>
		<NodePuritySelector />
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import NodePuritySelector from "./NodePuritySelector.vue";
import { IItem, IItemRate } from "../models";
import store from "../store";

@Component({
	components: {
		NodePuritySelector
	}
})
export default class OutputSelector extends Vue {
	selectedItem: IItem | null = null;

	get requiredOutputs() {
		return store.state.requiredOutputs;
	}

	get itemOptions() {
		return store.getters.itemsWithRecipes;
	}

	getOutputRate(index: number) {
		return this.requiredOutputs[index].rate;
	}

	addItem() {
		if (this.selectedItem) {
			// TODO Check if this item is already in the list

			store.commit("addRequiredOutput", { itemId: this.selectedItem.id, rate: 30 });
		}
	}

	removeItem(index: number) {
		store.commit("removeRequiredOutput", index);
	}

	updateRate(index: number, event) {
		store.commit("changeRequiredOutputRate", { outputIndex: index, newRate: event.target.value });
	}
}
</script>

<style lang="less" scoped>
	.output-selector {
		margin-bottom: 1em;
	}

	.itemSelector {
		display: inline-block;
		width: 20em;
	} 

	input[type=number] {
		width: 10em;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		margin-bottom: 0.5em;
		height: 34px;
	}
</style>
